$link-color: #1271c4;

$content-width: 996px;

$font-size-4: 15px;

$root-font-size: 14px;

$body-font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei",sans-serif !default;
